@import 'base/variables';
@import 'base/bootstrap_variables';
@import 'mixins/breakpoints';


/* ANIMATIONS  */
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
}
  
.fadeIn {
    animation-name: fadeIn;
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
}
/* ANIMATIONS  */

/* Misc Styles  */
input {
    font-family: "open sans" !important;
    font-size: 15px;
}

img {
    max-width: 100%;
}

button {
    cursor: pointer;
}

i {
    vertical-align: middle;
}

/* Misc Styles  */


body {
    background-color: #ECECEC;
    font-family: "open sans" !important;
    &.overlay_applied {
        overflow-y: hidden;
    }
    user-select: none;
    @include media-breakpoint-down(xs){
        padding-top: 15px;
    }
}

/* LHS  */
#ui_lhs {
    background-color: #313541;
    height: 100vh;
    color: #fff;
    padding: 0px;
    #lhs_top_div {
        height: 90px;
        padding: 15px;
    }
    #lhs_menu_content_div {
        height: 50vh;
        background-color: #3B404F;
        padding: 15px;
    }
}
/* LHS  */


/* RHS  */
#ui_rhs{
    padding: 0px;
    #rhs_top_bar{
        height: 90px;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 10px rgba(0,0,0,0.15);
        .sidebar_menu_button {
            position: absolute;
            right: 20px;
            color: #F44336;
        }
        .heading {
            font-size: 21px;
            font-weight: 700;
            text-transform: uppercase;
            word-spacing: 1px;
        }
    }
    #rhs_content_div {
        margin: 20px;
        height: calc(100vh - 130px);
        background-color: #fff;
        overflow: auto;
        @include media-breakpoint-down(xs){
            height: auto;
        }

        #rhs_cms_div {
            padding: 0px;
            //box-shadow: 0 0 10px rgba(0,0,0,0.15);

            #cms_title_div{
                min-height: 90px;
                border:none;
                outline: none;
                padding: 25px 30px;
                font-size: 24px;
                font-family: lora;
                display: block;
                font-weight: 600;
                cursor: text;
                &:empty:before{
                    content: attr(data-placeholder2);
                    display: block; // For Firefox
                    color: #888;
                    font-size: 18px;
                    position: relative;
                    top: 5px;
                    font-weight: 300;
                    font-family: "open sans";
                }
            }
            #editor_div{

                $tool_bg_color:  #f7f7f7; //#FBFBFB;

                #editor_tools{
                    height: 50px;
                    background-color: $tool_bg_color;
                    display: flex;
                    align-items: center;
                    padding: 0px 30px;
                    justify-content: space-between;

                    ul.list > [data-value="p"] {
                        font-size: 14px;
                    }
                    ul.list > [data-value="h1"] {
                        font-size: 2.5rem;
                    }
                    ul.list > [data-value="h2"] {
                        font-size: 2rem;
                    }
                    ul.list > [data-value="h3"] {
                        font-size: 1.75rem;
                    }
                    ul.list > [data-value="h4"] {
                        font-size: 1.5rem;
                    }
                    ul.list > [data-value="h5"] {
                        font-size: 1.25rem;
                    }
                    ul.list > [data-value="h6"] {
                        font-size: 1rem;
                    }

                    #tools_lhs{
                        display: flex;
                        background-color: $tool_bg_color;
                    }

                    #tools_rhs {
                        background-color: $tool_bg_color;
                        .editor_tool_div_icons_container {
                            border-right: none;
                            //border-left: 1px solid #DBDBDB;
                            //padding-left: 30px;
                        }

                        .editor_tool_div_icons {
                            font-size: 16px;
                            margin-right: 0px;
                            //margin-left: 30px;
                        }
                    }

                    .nice-select{
                        float: none;
                        display: inline-block;
                        height: 31px;
                        line-height: 32px;
                        min-width: 65px;
                        outline: none;
                        /* padding-left: 15px; */
                        padding-right: 30px;
                        //background-color: #FBFBFB;
                        background-color: $tool_bg_color;
                        border: none;
                        font-size: 13px;
                        //padding-left: 0px;
                        &:after {
                            top: 55%;
                        }

                        .list {
                            max-height: 300px;
                            overflow: auto;
                        }
                    }
                    .editor_tool_div {
                        font-size: 13px;
                        height: 50px;
                        display: flex;
                        align-items: center;
                        border-right: 1px solid #DBDBDB;
                        //padding-right: 5px;
                        //margin-right: 15px;
                        & > span{
                            font-weight: bold;
                            font-size: 14px;
                        }
                    }

                    .editor_tool_div_icons_container{
                        display: flex;
                        border-right: 1px solid #DBDBDB;
                        //margin-left: 15px;
                        //margin-right: 15px;
                        padding: 0px 10px;
                        #upload_img_file {
                            display: none !important;
                        }
                    }
                    .editor_tool_div_icons {
                        font-size: 13px;
                        height: 50px;
                        display: flex;
                        align-items: center;
                        margin-right: 0px;
                        cursor: pointer;
                        color: #888;
                        transition: color 0.3s ease;
                        padding: 0px 15px;
                        &:hover {
                            color: #222;
                        }
                        &.active {
                            color: #000;
                        }

                        &.upload_image {
                            font-size: 16px;
                            position: relative;
                            &:hover {
                                color: #000;
                            }
                            .image_modal_container {

                                position: absolute;
                                top: -35px;
                                left: -20px;
                                display: none;

                                &.active {
                                    display: block;
                                }
                            }
                            .image_modal {
                               
                                background: #333;
                                width: 90px;
                                box-shadow: 0 0 10px rgba(0,0,0,0.15);
                                height: 35px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                color: #ccc;
                                
                                &:hover {
                                    color: #ccc;
                                }

                                .image_modal_icons{
                                    width: 45px;
                                    display: flex;
                                    justify-content: center;
                                    height: 35px;
                                    align-items: center;
                                    border-right: 1px solid #797979;
                                    transition: color 0.3s ease;
                                    font-size: 14px;
                                    &:last-child {
                                        border-right: none;
                                    }
                                    &:hover {
                                        color: #fff;
                                    }
                                }   
                            }
                            .arrow-down-image {
                                width: 0;
                                height: 0;
                                border-left: 10px solid transparent;
                                border-right: 10px solid transparent;
                                border-top: 10px solid #000;
                                position: absolute;
                                top: 35px;
                                left: 34px;
                              }
                        }
                    }

                    .fore-wrapper:hover{

                        
                    }

                    a.palette-item {
                       /*  height: 1em;
                        border-radius: 3px;
                        margin: 2px;
                        width: 1em;
                        border: 1px solid #CCC; */
                        border: 1px solid #ccc;
                        margin: 2px;
                      }
                      
                      a.palette-item:hover {
                        //border: 1px solid #CCC;
                        box-shadow: 0 0 1px #666;
                      }
                      
                      .fore-palette,
                      .back-palette {
                        display: none;
                        z-index: 10000;
                      }
                      
                      .fore-wrapper,
                      .back-wrapper {
                        //display: inline-block;
                        cursor: pointer;
                      }
                      
                      .fore-wrapper:hover .fore-palette,
                      .back-wrapper:hover .back-palette {
                        display: block;
                        float: left;
                        position: absolute;
                        padding: 3px;
                        width: 155px;
                        background: #FFF;
                        border: 1px solid #DDD;
                        box-shadow: 0 0 5px #CCC;
                        //height: 77px;
                        top: 130px;
                      }
                      
                      .fore-palette a,
                      .back-palette a {
                        background: #FFF;
                        margin-bottom: 2px;
                        width: 20px;
                        height: 20px;
                        border-radius: 30px;
                        display: inline-block;
                      }
                }
                #editor_input {
                    min-height: calc(100vh - 270px);
                    border:none;
                    outline: none;
                    padding: 25px 30px;
                    //line-height: 1.75em;
                    font-family: lora;
                    font-size: 18px;
                    line-height: 32px;
                    font-size: 20px;
                    cursor: text;
                    &:empty:before{
                        content: attr(data-placeholder2);
                        display: block; // For Firefox
                        color: #888;
                        font-size: 15px;
                        position: relative;
                        top: 0px;
                        font-weight: 300;
                        font-family: "open sans";
                    }

                    &.align_left{
                        text-align: left;
                    }
                    &.align_center{
                        text-align: center;
                    }
                    &.align_right{
                        text-align: right;
                    }
                    &.align_justify{
                        text-align: justify;
                    }
                    i {
                        position: relative;
                        top: -2px;
                    }

                    blockquote {
                        border-left: 4px solid deepskyblue;
                        padding-left: 15px;
                        margin-right: 0px;
                    }

                    /* .ui-wrapper {
                        min-width: 250px;
                        min-height: 250px;
                    } */

                    /* .ui-wrapper {
                        display: inline-block;
                    }

                    .editor_image {
                        min-width: 250px;
                        min-height: 250px;
                        cursor: pointer;
                    } */

                    /* .resize_image{
                        resize: both;
                        display: inline-block;
                        overflow: auto;
                    }
                    .editor_image{
                        cursor: pointer;
                        &.edit_image {
                            border: 1px solid #000;
                        }
                    } */

                    

                }
            }
            
        }
    }
}
/* RHS  */

/* INLINE TOOLBAR  */
.inline_toolbar {
      
    position: absolute;
    /* top: 25%;
    left: 25%; */
    display: none;
    z-index: 10000;
  
    .tools{
        // /min-width: 370px;
        height: 95px;
        background-color: #272727;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;
        .tools_top_row, .tools_bottom_row{
            display: flex;
        }
        .tools_bottom_row {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }
        .tools_bottom_row > .tool_icons {
            font-size: 14px;
        }
        .tool_icons {
            color: #ddd;
            width: 30px;
            cursor: pointer;
            border: 1px solid transparent;
            transition: all 0.3s ease;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            &:hover {
                border: 1px solid #999;
                color: #D93B36;
            }
            &:active {
                border: 1px solid #999;
                color: #D93B36;
            }
            &.tool_spacer{
                border: none;
            }

            &.upload_image {
                font-size: 17px;
            }
        }
    }

    &.active {
        display: block;
    }
}
.arrow-down {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #272727;
    position: relative;
    left: 10px;
  }
/* INLINE TOOLBAR  */

/* Image Editor Toolbar  */
.editor_image{
    cursor: pointer;
    max-width: 50%;
}
.image_editor_tools {
    position: absolute;
    z-index: 10000;
    display: none;

    .tools{
        // /min-width: 370px;
        height: 95px;
        background-color: #272727;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;
        .tools_top_row, .tools_bottom_row{
            display: flex;
        }
        .tools_bottom_row {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }
        .tools_bottom_row > .tool_icons {
            font-size: 14px;
        }
        .tool_icons {
            color: #ddd;
            width: 30px;
            cursor: pointer;
            border: 1px solid transparent;
            transition: all 0.3s ease;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            &:hover {
                border: 1px solid #999;
                color: #D93B36;
            }
            &:active {
                border: 1px solid #999;
                color: #D93B36;
            }
            &.tool_spacer{
                border: none;
            }

            &.upload_image {
                font-size: 17px;
            }
        }
    }
    
    &.active{
        display: block;
    }
}
/* Image Editor Toolbar  */
